body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#F6F2FF;
}

h1, h3 {
  color: #420039;
  text-align: center;
}


a {
  color: #932F6D;
  font-size: larger;
} */

body .list {
  text-align: justify;
}

body .delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
body .delete-form button {
  color: red;
}
	
li {
  list-style: none;
}