body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#F6F2FF;
}

h1 {
  color: #420039;
  text-align: center;
}


a {
  color: #932F6D;
  font-size: larger;
}

body .list {
  text-align: justify;
}